body {
    cursor: default;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.application {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    background-color: #fdf5d1;
    border: 1px solid rgb(255, 208, 0);
}
